In [2]:
from argparse import ArgumentParser
import os
import sys
import time

import geopandas as gpd
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import rasterio
import shapely
import xarray as xr

# from matplotlib import colors
from pandarallel import pandarallel

from reaches import *
from utils import *

### Parse arguments

In [3]:
# FOR NOW, SET
width_set = 'min'

# Control flow
if width_set == 'mean':
    width = 'WidthM'
    binn = 'Bin'
elif width_set == 'min':
    width = 'WidthM_Min'
    binn = 'Bin_Min'
elif width_set == 'max':
    width = 'WidthM_Max'
    binn = 'Bin_Max'
else:
    print('Invalid width option specified, exiting.')
    # sys.exit()

In [4]:
huc2 = '01' ### SET THIS
data_path = '/nas/cee-water/cjgleason/fiona/data/PIXC_v2_0_HUC2_' + huc2
# save_dir =

### Pixel Cloud

In [5]:
# Get job index
# slurm = int(os.environ['SLURM_ARRAY_TASK_ID'])
index = 3032

In [6]:
huc2 = '01'
file_path = '/nas/cee-water/cjgleason/fiona/narrow_rivers_PIXC/data/PIXC_v2_0_HUC2_' + huc2 + '_filtered.json'
data = open_json(file_path)

In [7]:
file_name = data[index]

In [8]:
# Get data for this tile
granule_name = file_name[:-3]
tile_name = file_name[20:28]
pass_num = int(file_name[20:23])

print(granule_name)

SWOT_L2_HR_PIXC_019_063_232R_20240802T005329_20240802T005340_PIC0_01

#### Read in PIXC

In [9]:
# Set PIXC filepath
pixc_path = os.path.join(data_path, file_name)

In [10]:
# Read in pixel group
ds_PIXC = xr.open_mfdataset(paths=pixc_path, group = 'pixel_cloud', engine='h5netcdf')

In [11]:
# Make mask
mask = bitwiseMask(ds_PIXC)

if mask.shape[0] == 0:
    print('This granule has no pixels after masking, exiting.')
    # sys.exit(1)

(248391,)

In [12]:
# Set desired data vars
variables = ['azimuth_index', 'range_index', 'cross_track',
             'pixel_area', 'height', 'geoid', 'prior_water_prob',
             'classification']

In [13]:
# Convert PIXC to GeoDataFrame
gdf_PIXC = makeGDF(ds=ds_PIXC, mask=mask, data_vars=variables)

### Find correct HUC4s

In [14]:
### NHDPlus HR
## Find correct HUC4s
# Read in tile and HUC4 intersection data
mdata_path = '/nas/cee-water/cjgleason/fiona/narrow_rivers_PIXC/data/'
dtype_dic= {'tile': str, 'huc4': str, 'coverage': float}
tile_huc4 = pd.read_csv(os.path.join(mdata_path,
                                    'huc4_swot_science_tiles.csv'),
                        dtype=dtype_dic)

In [15]:
# Make list of HUC4s that intersect the tile
hucs = list(tile_huc4[(tile_huc4['tile'] == tile_name)]['huc4'])
# Limit to the current HUC2
hucs = [x for x in hucs if x.startswith(huc2)]

In [16]:
hucs

['0108']

In [17]:
# Get NHD index metadata
# Define dtypes for lookup tables to preserve leading zeros
dtype_dic= {'HUC4': str, 'HUC2': str, 'toBasin': str, 'level': str}
# Read in HUC lookup table
huc_lookup = pd.read_csv(os.path.join(mdata_path,
                                  'HUC4_lookup_no_great_lakes.csv'),
                     dtype=dtype_dic)

In [18]:
# Extract indices for read-in
indices = list(huc_lookup[huc_lookup['HUC4'].isin(hucs)]['slurm_index'])

### Read in HUC4 flowliness

In [19]:
# Create merged dataframe of all flowlines intersected
if len(indices) == 1:
    # Read prepped NHD
    flowlines, _, _,  = readNHD(index=indices[0])
    # huc4_list, huc2_list = readNHD(index=indices[0])
else:
    # Initialize lists
    d = []
    # huc4_list = []
    # huc2_list = []
    # Loop through indices and store in lists
    for i in indices:
        # Read prepped NHD
        flowlines, _, _ = readNHD(index=i)
        # huc4, huc2 = readNHD(index=i)
        # Append to lists
        d.append(flowlines)
        # huc4_list.append(huc4) # I DON'T DO ANYTHING WITH THIS
        # huc2_list.append(huc2) # I DON'T DO ANYTHING WITH THIS
    # Merge GeoDataFrames
    flowlines = pd.concat(d)

type: normal
NHDPLUS_H_0108_HU4_GDB
flowlines read-in
exploded

In [20]:
# Project CRS (currently to WGS 84 / UTM zone 18N) 
flowlines = flowlines.to_crs(epsg=32618)

In [21]:
pandarallel.initialize(nb_workers=int(os.environ.get('SLURM_CPUS_PER_TASK')))

INFO: Pandarallel will run on 8 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.

In [22]:
start = time.time()
# Args are the width, cap_style, segmented=False, extra=False
# Buffering with extra distance to capture pixels that would overlap
# once converted to pseudo-pixels
flowlines['buffer'] = flowlines.parallel_apply(user_defined_function=specialBuffer,
                                                         args=(width,
                                                               'flat', False, True),
                                                         axis=1)
end = time.time()
print(end - start)

3.7028634548187256

In [23]:
# Set geometry to buffered reaches
flowlines = flowlines.set_geometry('buffer').set_crs(epsg=32618)

In [24]:
flowlines

,NHDPlusID,GNIS_Name,LengthKM,WidthM,WidthM_Min,WidthM_Max,Bin,Bin_Min,Bin_Max,geometry,buffer
0,1.000090e+13,None,0.359000,2.503269,1.898924,3.299951,"(0, 10]","(0, 10]","(0, 10]","LINESTRING (658563.386 4746521.016, 658563.352...","POLYGON ((658491.596 4746421.53, 658491.481 47..."
1,1.000090e+13,None,0.604000,1.535643,1.164904,2.024372,"(0, 10]","(0, 10]","(0, 10]","LINESTRING (709435.523 4809344.504, 709434.754...","POLYGON ((709384.757 4809349.268, 709385.174 4..."
2,1.000090e+13,None,0.210000,1.286148,0.975643,1.695473,"(0, 10]","(0, 10]","(0, 10]","LINESTRING (693979.297 4666038.446, 693979.443...","POLYGON ((693938.107 4665988.662, 693936.489 4..."
3,1.000090e+13,None,0.110000,2.673102,2.027755,3.523835,"(0, 10]","(0, 10]","(0, 10]","LINESTRING (666367.123 4770380.006, 666365.609...","POLYGON ((666239.716 4770347.593, 666285.802 4..."
4,1.000090e+13,Ammonoosuc River,1.881868,50.929300,38.633825,67.137893,"(50, 60]","(30, 40]","(60, 70]","LINESTRING (744204.466 4896501.736, 744203.589...","POLYGON ((743847.018 4896095.838, 743853.052 4..."
...,...,...,...,...,...,...,...,...,...,...,...
65305,1.000090e+13,Legate Hill Brook,1.135000,3.631723,2.754943,4.787543,"(0, 10]","(0, 10]","(0, 10]","LINESTRING (671186.322 4726704.041, 671207.146...","POLYGON ((671118.028 4725970.507, 671120.58 47..."
65306,1.000090e+13,Middle Branch Indian Stream,0.888000,2.500794,1.897047,3.296689,"(0, 10]","(0, 10]","(0, 10]","LINESTRING (791388.255 5022577.462, 791383.157...","POLYGON ((791169.416 5021869.986, 791172.871 5..."
65307,1.000090e+13,None,2.661000,2.975611,2.257232,3.922620,"(0, 10]","(0, 10]","(0, 10]","LINESTRING (783989.405 4922644.424, 783979.957...","POLYGON ((783147.73 4921662.536, 783022.74 492..."
65308,1.000090e+13,None,1.603000,2.463438,1.868709,3.247443,"(0, 10]","(0, 10]","(0, 10]","LINESTRING (788480.862 4919021.47, 788488.209 ...","POLYGON ((788522.744 4919051.18, 788543.663 49..."
65309,1.000090e+13,None,0.464000,1.351103,1.024917,1.781101,"(0, 10]","(0, 10]","(0, 10]","LINESTRING (795753.074 5007219.906, 795768.665...","POLYGON ((795729.852 5007270.952, 795732.552 5..."

In [25]:
# Clip masked pixels to buffered reaches
gdf_PIXC_clip = gpd.sjoin(gdf_PIXC, flowlines, how='inner', predicate='within')

In [26]:
if gdf_PIXC_clip.shape[0] == 0:
    print('This granule has no pixels that intersect reaches, exiting.')
    # sys.exit()

In [27]:
gdf_PIXC_clip.columns

Index(['points', 'azimuth_index', 'range_index', 'cross_track', 'pixel_area',
       'height', 'geoid', 'prior_water_prob', 'klass', 'latitude', 'longitude',
       'geometry', 'index_right', 'NHDPlusID', 'GNIS_Name', 'LengthKM',
       'WidthM', 'WidthM_Min', 'WidthM_Max', 'Bin', 'Bin_Min', 'Bin_Max',
       'geometry_right'],
      dtype='object')

In [28]:
# Drop unneeded cols
gdf_PIXC_clip = gdf_PIXC_clip.drop(columns=['index_right', 'NHDPlusID',
                                            'GNIS_Name', 'LengthKM',
                                            'WidthM', 'WidthM_Min',
                                            'WidthM_Max', 'Bin', 'Bin_Min',
                                            'Bin_Max', 'geometry_right'])

In [29]:
### STOPPED HERE 02-25-25

### Nadir track

In [30]:
# Get single pixel for selecting correct nadir segment
pixel_pt = gdf_PIXC_clip.iloc[0].geometry

In [31]:
# Find correct nadir segment and return its geometry
nadir_segment_ln = findNadir(pass_num=pass_num, pixel_pt=pixel_pt)

/work/pi_cjgleason_umass_edu/.conda/envs/narrowPIXC/lib/python3.12/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

### Make pseudo pixels

In [32]:
# Set along-track pixel resolution
azimuth_res = 21 # meters

In [33]:
# Make pseudo pixels
start = time.time()
gdf_PIXC_clip['pseudo_pixel'] = gdf_PIXC_clip.parallel_apply(user_defined_function=makePseudoPixels,
                                                         args=(nadir_segment_ln,
                                                               azimuth_res),
                                                         axis=1)
end = time.time()
print(end - start)

0.7086825370788574

In [34]:
# fig, ax = plt.subplots(figsize=(8,8))
# gdf_PIXC_clip.iloc[5:10]['pseudo_pixel'].plot(ax=ax, alpha=0.5, color='y')
# gdf_PIXC_clip.iloc[5:10].plot(ax=ax, markersize=5, color='hotpink')

In [35]:
# xxxWHY NOT JUST KEEP THE SAME DATA FRAME AND DROP THE UNWANTED COLS?
# pseudo = gdf_PIXC_clip.drop(columns='geometry').set_geometry('pseudo_pixel').set_crs(crs=gdf_PIXC_clip.crs)
gdf_PIXC_clip = gdf_PIXC_clip.rename(columns={'geometry': 'pixel_centroid'}).set_geometry('pseudo_pixel')

In [36]:
# Get bounds of PIXC tile
pseudo_bounds = gdf_PIXC_clip.total_bounds
# Copy geometry column as sjoin will discard it
gdf_PIXC_clip['pseudo_geom'] = gdf_PIXC_clip.geometry
# pseudo_poly = box(pseudo_bounds[0], pseudo_bounds[1],
#                       pseudo_bounds[2], pseudo_bounds[3])
# gdf_pseudo_bounds = gpd.GeoDataFrame({'geometry': [pseudo_bounds]}, crs=pseudo.crs)

In [37]:
# save_path = '/nas/cee-water/cjgleason/fiona/narrow_rivers_PIXC_data/PIXC_v2_0_pseudo_pixels_filtered/'

In [38]:
# gdf_PIXC.to_parquet(path=save_path + granule_name + '.parquet')

### Read in segments

In [39]:
# Create merged dataframe of all basins intersected
if len(indices) == 1:
    # Read prepped NHD
    segments, _, _ = readNHD(index=indices[0], segmented=True)
else:
    # Initialize lists
    d = []
    # Loop through indices and store in lists
    for i in indices:
        # Read prepped NHD
        segments, huc4, _ = readNHD(index=i, segmented=True)
        # Make column with HUC4 id
        segments['huc4_long'] = huc4
        segments['huc4'] = segments['huc4_long'].str[10:14]
        # Rename segments to geometry
        # segments = segments.rename(columns={'segments': 'geometry'}).set_geometry('geometry')
        # Append to list
        d.append(segments)
    # Merge GeoDataFrames
    segments = pd.concat(d)

type: segmented
NHDPLUS_H_0108_HU4_GDB
/nas/cee-water/cjgleason/fiona/narrow_rivers_PIXC_data/NHD_prepped_segmented/HUC2_01/NHDPLUS_H_0108_HU4_GDB_prepped_segmented.parquet
segments read-in

In [40]:
# # Cast objects to string type so they aren't dropped in groupby()
# segments['Bin'] = segments['Bin'].astype('|S')
# segments['GNIS_Name'] = segments['GNIS_Name'].astype(str).str.encode('utf-8', errors='replace').str.decode('utf-8')

In [41]:
# segments['GNIS_Name'] = segments['GNIS_Name'].astype('|S')

In [42]:
# Project CRS (currently to WGS 84 / UTM zone 18N)
segments = segments.to_crs(epsg='32618')

In [43]:
segments = segments.reset_index().rename(columns={'index': 'index_old'})

In [44]:
# Assign a unique counter within each index group
segments['counter'] = segments.groupby('NHDPlusID').cumcount()

In [45]:
# Keep only first ten segments (some reaches repeat)
segments = segments[segments['counter'] < 10]

# For HUC4_0109, 5000700035256 and 5000700072690

In [46]:
segments = segments.clip(pseudo_bounds)

In [47]:
# Keep only reaches that are fully contained in PIXC granule
segments = segments.groupby('NHDPlusID').filter(lambda x: len(x) == 10)

In [48]:
# Get number of reaches per bin
counts = pd.DataFrame(segments[binn].value_counts()).reset_index()

In [49]:
counts

    Bin_Min  count
0   (0, 10]  15890
1  (10, 20]    860
2  (20, 30]    270
3  (30, 40]     70

In [50]:
# Buffer segments
## PARALLELIZE
start = time.time()
segments['buffer'] = segments.parallel_apply(user_defined_function=specialBuffer,
                                                         args=(width,
                                                               'flat', True, False),
                                                         axis=1)
end = time.time()
print(end - start)
# segments['buffered'] = segments.buffer(distance=(segments.WidthM/2), cap_style='flat')

0.7394754886627197

In [51]:
segments = segments.set_geometry('buffer')

In [52]:
# Calculate segment area
segments['segment_area'] = segments.geometry.area

In [53]:
# segments.sort_values(['NHDPlusID', 'counter'])

In [54]:
# segments_buff = segments.geometry.buffer(distance=(segments.WidthM/2), cap_style='flat')

In [55]:
# segment_bounds = segments_buff.bounds

In [56]:
# ## Clip the pseudo pixels to the bounds of the reach
# pseudo_all = pseudo.union_all()

In [57]:
# fig, ax = plt.subplots(figsize=(8,8))
# pseudo.plot(ax=ax, column='klass')
# segments.plot(ax=ax, color='k', alpha=0.6)
# plt.xlim(824000, 826000)
# plt.ylim(4741000, 4743000)

In [58]:
# Merge the segments and pseudo-puxels by intersection
sj = gpd.sjoin(segments, gdf_PIXC_clip, how='left', predicate='intersects')

In [59]:
sj.columns

Index(['index_old', 'NHDPlusID', 'GNIS_Name', 'LengthKM', 'WidthM',
       'WidthM_Min', 'WidthM_Max', 'Bin', 'segments', 'Bin_Min', 'Bin_Max',
       'counter', 'buffer', 'segment_area', 'index_right', 'points',
       'azimuth_index', 'range_index', 'cross_track', 'pixel_area', 'height',
       'geoid', 'prior_water_prob', 'klass', 'latitude', 'longitude',
       'pixel_centroid', 'pseudo_geom'],
      dtype='object')

In [60]:
sj = sj.drop(columns=['index_right', 'points', 'azimuth_index',
                      'range_index',
                      'height', 'geoid',
                      'klass', 'latitude', 'longitude'])

In [61]:
sj = sj.set_geometry('pseudo_geom')

In [62]:
sj = sj.groupby('NHDPlusID', as_index=False).parallel_apply(user_defined_function=specialDissolve)

In [63]:
sj = sj.reset_index().drop(columns=['level_0', 'level_1'])

In [64]:
sj['pseudo_geom_clip'] = sj.parallel_apply(user_defined_function=specialClip,
                                                         axis=1)

In [65]:
# sj[sj['NHDPlusID'] == 10000900090399].pseudo_geom.plot(cmap='hsv')

In [66]:
# Calculate the pseudo-pixel area within each node
sj['pseudo_area'] = sj.pseudo_geom_clip.area

In [67]:
sj['coverage'] = sj.pseudo_area/sj.segment_area

In [68]:
# sj_w_zero = sj.copy()

In [69]:
# sj_w_zero['coverage'] = sj_w_zero['coverage'].fillna(0)
sj['coverage'] = sj['coverage'].fillna(0)

In [70]:
sj

,counter,pseudo_geom,index_old,NHDPlusID,GNIS_Name,LengthKM,WidthM,WidthM_Min,WidthM_Max,Bin,...,Bin_Max,buffer,segment_area,cross_track,pixel_area,prior_water_prob,pixel_centroid,pseudo_geom_clip,pseudo_area,coverage
0,0,GEOMETRYCOLLECTION EMPTY,4184,1.000090e+13,Brandon Brook,1.025,5.424103,4.114603,7.150360,"(0, 10]",...,"(0, 10]","POLYGON ((664698.742 4856175.292, 664698.787 4...",421.976897,NaN,NaN,NaN,None,None,NaN,0.000000
1,1,"MULTIPOLYGON (((664881.236 4856135.261, 664876...",4184,1.000090e+13,Brandon Brook,1.025,5.424103,4.114603,7.150360,"(0, 10]",...,"(0, 10]","POLYGON ((664777.249 4856141.854, 664777.33 48...",422.511009,46276.910156,278.58078,0.0,POINT (664872.347 4856126.587),"MULTIPOLYGON (((664867.073 4856133.062, 664869...",87.663937,0.207483
2,2,"MULTIPOLYGON (((664876.362 4856114.834, 664863...",4184,1.000090e+13,Brandon Brook,1.025,5.424103,4.114603,7.150360,"(0, 10]",...,"(0, 10]","POLYGON ((664877.048 4856125.801, 664880.195 4...",422.453586,46276.910156,278.58078,0.0,POINT (664872.347 4856126.587),"MULTIPOLYGON (((664877.866 4856121.139, 664875...",147.403635,0.348923
3,3,GEOMETRYCOLLECTION EMPTY,4184,1.000090e+13,Brandon Brook,1.025,5.424103,4.114603,7.150360,"(0, 10]",...,"(0, 10]","POLYGON ((664967.633 4856142.527, 664970.95 48...",422.622877,NaN,NaN,NaN,None,None,NaN,0.000000
4,4,GEOMETRYCOLLECTION EMPTY,4184,1.000090e+13,Brandon Brook,1.025,5.424103,4.114603,7.150360,"(0, 10]",...,"(0, 10]","POLYGON ((665061.693 4856149.871, 665061.197 4...",421.914169,NaN,NaN,NaN,None,None,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17085,5,GEOMETRYCOLLECTION EMPTY,56608,1.000090e+13,None,0.527,1.495881,1.134741,1.971955,"(0, 10]",...,"(0, 10]","POLYGON ((682287.71 4883652.145, 682283.376 48...",59.635771,NaN,NaN,NaN,None,None,NaN,0.000000
17086,6,GEOMETRYCOLLECTION EMPTY,56608,1.000090e+13,None,0.527,1.495881,1.134741,1.971955,"(0, 10]",...,"(0, 10]","POLYGON ((682278.355 4883600.07, 682278.351 48...",59.656901,NaN,NaN,NaN,None,None,NaN,0.000000
17087,7,GEOMETRYCOLLECTION EMPTY,56608,1.000090e+13,None,0.527,1.495881,1.134741,1.971955,"(0, 10]",...,"(0, 10]","POLYGON ((682262.745 4883562.006, 682262.741 4...",59.688946,NaN,NaN,NaN,None,None,NaN,0.000000
17088,8,GEOMETRYCOLLECTION EMPTY,56608,1.000090e+13,None,0.527,1.495881,1.134741,1.971955,"(0, 10]",...,"(0, 10]","POLYGON ((682225.706 4883503.668, 682222.127 4...",59.653276,NaN,NaN,NaN,None,None,NaN,0.000000
17089,9,GEOMETRYCOLLECTION EMPTY,56608,1.000090e+13,None,0.527,1.495881,1.134741,1.971955,"(0, 10]",...,"(0, 10]","POLYGON ((682222.933 4883463.404, 682222.916 4...",59.702271,NaN,NaN,NaN,None,None,NaN,0.000000

### Do stats

In [71]:
bins = sj.Bin.unique()

#### Reaches

In [116]:
d = {}
# d_q = {}
for i in range(1, 10):
    threshold = i/10
    # print(threshold)
    
    detected = sj.groupby([binn, 'NHDPlusID'])['coverage'].apply(lambda x: (x > threshold).sum()) / 10
    reach = detected.reset_index()
    
    # reach = detected.groupby(binn).quantile(q=[x / 100.0 for x in range(0,100,1)]).reset_index()
        
    d[threshold] = reach

In [118]:
# Add a column for each DataFrame indicating the key
# for threshold, data in d.items():
#     data['threshold'] = threshold
    
for threshold, data in d.items():
    data['threshold'] = threshold

In [122]:
# Concatenate all DataFrames into one
# reaches_desc = pd.concat(d.values())

reaches_cent = pd.concat(d.values()).rename(columns={'level_1': 'centile'})

In [124]:
reaches_cent

       Bin_Min     NHDPlusID  coverage  threshold
0      (0, 10]  1.000090e+13       0.2        0.1
1      (0, 10]  1.000090e+13       0.0        0.1
2      (0, 10]  1.000090e+13       0.0        0.1
3      (0, 10]  1.000090e+13       0.0        0.1
4      (0, 10]  1.000090e+13       0.0        0.1
...        ...           ...       ...        ...
1704  (30, 40]  1.000090e+13       0.0        0.9
1705  (30, 40]  1.000090e+13       0.0        0.9
1706  (30, 40]  1.000090e+13       0.0        0.9
1707  (30, 40]  1.000090e+13       0.0        0.9
1708  (30, 40]  1.000090e+13       0.0        0.9

[15381 rows x 4 columns]

In [125]:
# reaches_cent = pd.merge(left=reaches_cent, right=counts, how='left', on=binn)

In [135]:
reaches_cent

       Bin_Min  centile  coverage  threshold  count
0      (0, 10]     0.00       0.0        0.1  15330
1      (0, 10]     0.01       0.0        0.1  15330
2      (0, 10]     0.02       0.0        0.1  15330
3      (0, 10]     0.03       0.0        0.1  15330
4      (0, 10]     0.04       0.0        0.1  15330
...        ...      ...       ...        ...    ...
3595  (30, 40]     0.95       0.0        0.9     70
3596  (30, 40]     0.96       0.0        0.9     70
3597  (30, 40]     0.97       0.0        0.9     70
3598  (30, 40]     0.98       0.0        0.9     70
3599  (30, 40]     0.99       0.0        0.9     70

[3600 rows x 5 columns]

In [143]:
reaches_min = pd.DataFrame(sj.groupby('NHDPlusID')['coverage'].min()).reset_index()

In [144]:
reaches_min = pd.merge(left=reaches_min, right=sj[['NHDPlusID', binn]], how='left', on='NHDPlusID')

In [145]:
min_cov

         NHDPlusID  coverage  Bin_Min
0     1.000090e+13       0.0  (0, 10]
1     1.000090e+13       0.0  (0, 10]
2     1.000090e+13       0.0  (0, 10]
3     1.000090e+13       0.0  (0, 10]
4     1.000090e+13       0.0  (0, 10]
...            ...       ...      ...
1648  1.000090e+13       0.0  (0, 10]
1649  1.000090e+13       0.0  (0, 10]
1650  1.000090e+13       0.0  (0, 10]
1651  1.000090e+13       0.0  (0, 10]
1652  1.000090e+13       0.0  (0, 10]

[1653 rows x 3 columns]

In [ ]:
# reaches = pd.DataFrame(data=d).T

In [ ]:
# reaches.columns = bins

### Write out

In [ ]:
save_path = os.path.join('/nas/cee-water/cjgleason/fiona/narrow_rivers_PIXC_data/', 'PIXC_v2_0_HUC2_01')

In [ ]:
# Combine node_desc
node_desc_both = pd.concat([node_desc, node_desc_w_zero], ignore_index=True)
node_desc_both

In [ ]:
# Combine node_quant
node_quant_both = pd.concat([node_quant, node_quant_w_zero], ignore_index=True)
node_quant_both

In [ ]:
# nodes_desc_both.to_csv(os.path.join(save_path, granule_name + '_nodes_describe.csv'))
# nodes_quant_both.to_csv(os.path.join(save_path, granule_name + '_nodes_quantile.csv'))

In [ ]:
# reaches_desc.to_csv(os.path.join(save_path, granule_name + '_reaches_describe.csv'))
# reaches_quant.to_csv(os.path.join(save_path, granule_name + '_reaches_quantile.csv'))

In [ ]:
test = pd.read_parquet('/nas/cee-water/cjgleason/fiona/narrow_rivers_PIXC_output/PIXC_v2_0_HUC2_01_2025_02_04_min/SWOT_L2_HR_PIXC_001_270_077L_20230730T202544_20230730T202555_PGC0_01_reaches_cent.parquet')